@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("/img/F1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

}